@CHARSET "UTF-8";

.menu{
	
	width: 300px;
	
}

.big-div{
	width:1500px;
	height:800px;
	margin-left:50px;
}

.content{
    width:1500px;
	display:inline-flex;

}

.view{
	height:800px;
	width: 1200px;
	
}

.view table{
	margin-left:20px;
}

.category-admin{
	width:500px;
	margin-left:30px;
	margin-top:30px;
}

#left-sidebar-nav{
	width:300px;
}

.wrapper{
	display:-webkit-box;
	padding-left: 0px;
}

.container{
	margin: 0;
	margin-left: 20px;
}

#default{
	color: gray;
}



