<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiyn.web.dao.NoticeBoardFileDao">
<select resultType="com.wiyn.web.entity.NoticeFile" id="getList"> 

SELECT * FROM NoticeFile

</select>

<select resultType="com.wiyn.web.entity.NoticeFile" id="get"> 

	SELECT * FROM NoticeFile WHERE noticeBoardId = #{noticeBoardId}

</select>

<insert id="add" parameterType="com.wiyn.web.entity.NoticeFile">
	<selectKey order="BEFORE" keyProperty="id" resultType="String">
         select max(cast(id as unsigned))+1 id from NoticeFile
      </selectKey>

		INSERT INTO
		`lsedb`.`NoticeFile`
		(
		`id`,
		`src`,
		`name`,
		`noticeBoardId`		
		)
		VALUES
		(
		#{id},
		#{src},
		#{name},
		#{noticeBoardId}
		)

</insert>

<update id="update">
	UPDATE NoticeFile SET name = #{name} WHERE id = #{id}
</update>

</mapper>

