<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiyn.web.dao.RequestCommentDao" >

	<select id="getList" resultType="com.wiyn.web.entity.RequestComment" >
		SELECT * FROM RequestComment where requestBoardId =  ${boardId} order by regDate desc LIMIT ${(page-1) *10},10;
	</select>
    
 	<insert id="add" parameterType="com.wiyn.web.entity.RequestComment">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			select IFNULL(max(cast(id as unsigned)), 0)+1 id from RequestComment
		</selectKey>
			INSERT INTO `lsedb`.`RequestComment`
				(
				`id`,
				`content`,
				`regDate`,
				`requestBoardId`,
				`memberId`
				)
				VALUES
				(
				#{id },
				#{content },
				now(),
				#{requestBoardId},
				#{memberId }
				)
		
		</insert>
		
 		<select id="getSize" resultType="Integer">
		SELECT count(*) FROM RequestComment where requestBoardId = #{boardId} order by regDate desc;
	</select>
	
	<delete id="delete">
		DELETE FROM RequestComment
		WHERE id=#{id}
	
	</delete>
	
</mapper>