<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiyn.web.dao.SiteBoardDao">

	<select id="getBoard" resultType="com.wiyn.web.entity.SiteBoard">
		SELECT * FROM lsedb.SiteBoard where id = #{id} order by regDate desc
	</select>

	<insert id="add" parameterType="com.wiyn.web.entity.SiteBoard">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			select IFNULL(max(cast(id as unsigned)), 0)+1 id from SiteBoard
		</selectKey>
		INSERT INTO `lsedb`.`SiteBoard`
		(
			`id`,
			`title`,
			`content`,
			`regDate`,
			`url`,
			tagId,
			`memberId`,
			bigCategoryId,
			smallCategoryId
		)
		VALUES
		(
			#{id},
			#{title},
			#{content},
			now(),
			#{url},
			#{tagId},
			#{memberId},
			#{bigCategoryId},
			#{smallCategoryId}
		)
	</insert>

	<select id="getList" resultType="com.wiyn.web.entity.SiteBoard">
		select * FROM SiteBoard 
		WHERE title like '%${query}%' and bigCategoryId
		 like '%${bigCa}%' and smallCategoryId like '%${smallCa}%'  
		 order by regDate DESC LIMIT ${(page-1)*10},10 
	</select>
	
	<select id="count" resultType="Integer">
	SELECT COUNT(*) FROM SiteBoard
</select>


<select id="countlike" resultType="Integer">
		select count(*) from
		(select N.* FROM SiteBoard N 
		left outer JOIN SiteBoardLike C ON C.siteBoardId= N.id
		GROUP BY N.id, N.regDate
        Having COUNT(C.siteBoardId)>=1) SiteBoard
</select>
	
	
		<select id="getListLike" resultType="com.wiyn.web.entity.SiteBoard">

		select N.*, COUNT(C.siteBoardId) Good
		FROM SiteBoard N 
		LEFT OUTER JOIN SiteBoardLike C ON C.siteBoardId= N.id 
		WHERE N.title like '%${query}%' and bigCategoryId like '%${bigCa}%' and smallCategoryId like '%${smallCa}%'
		GROUP BY N.id, N.title, N.content, N.regDate, N.url, N.hit
		having Good>=1
		order by Good desc, regDate desc LIMIT ${(page-1)*10},10

	</select>

	<select id="getListComment" resultType="com.wiyn.web.entity.SiteBoard">
	select *
	FROM SiteBoard WHERE title like '%${query}%' and 
	bigCategoryId like '%${bigCa}%' and smallCategoryId like '%${smallCa}%'
	order by countcomment DESC, regDate desc LIMIT ${(page-1)*10},10
	</select>
<!-- select S.*,COUNT(C.siteBoardId) countcomment
	FROM SiteBoard S LEFT OUTER JOIN SiteComment C ON C.siteBoardId= S.id WHERE S.title like '%${query}%' and bigCategoryId like '%${bigCa}%' and smallCategoryId like '%${smallCa}%'
	GROUP BY S.id, S.title, S.content, S.regDate, S.url, S.hit  order by countcomment DESC, regDate desc LIMIT ${(page-1)*10},10 -->
	
	<select id="lastId" resultType="String">
		SELECT MAX(CAST(id AS UNSIGNED)) id
		FROM SiteBoard
	</select>

	<select id="getSize" resultType="Integer">
		SELECT COUNT(id) SIZE
		FROM SiteBoard
		WHERE BINARY title LIKE '%${param1}%'
	</select>
	
	<delete id="delete">
		DELETE FROM SiteBoard
		WHERE id=#{id}
	</delete>
	
	<update id="update">
		UPDATE `lsedb`.`SiteBoard`
		SET
		`title` = #{title},
		`content` = #{content},
		`url` = #{url},
		`bigCategoryId` = #{bigCategoryId },
		`smallCategoryId` = #{smallCategoryId }
		WHERE `id` = #{id};
	</update>
	
	    
    <select id="getPrev" resultType="com.wiyn.web.entity.SiteBoard" >
        SELECT * 
        FROM `lsedb`.`SiteBoard`
        WHERE CAST(id AS unsigned) &lt; CAST(#{id} AS unsigned) ORDER BY regDate DESC LIMIT 0, 1
    </select>
    <select id="getNext" resultType="com.wiyn.web.entity.SiteBoard" >
        SELECT * 
        FROM `lsedb`.`SiteBoard`
        WHERE CAST(id AS unsigned) &gt; CAST(#{id} AS unsigned) ORDER BY regDate ASC LIMIT 0, 1

	</select>


	<select id="getBName" resultType="String">
		select BigCategory.name 
		from SiteBoard 
		inner join BigCategory 
		on SiteBoard.bigCategoryId=BigCategory.id where
		SiteBoard.id=#{param1}
	</select>

	<select id="getSName" resultType="String">
		select SmallCategory.name 
		from SiteBoard 
		inner join SmallCategory 
		on SiteBoard.smallCategoryId=SmallCategory.id
		where SiteBoard.id=#{param1}
	</select>
	
	<select id="getTName" resultType="String">
		select Tag.name FROM Tag inner join SiteBoard on Tag.siteBoardId=SiteBoard.id where SiteBoard.id=#{param1}
		<!-- select SUBSTRING_INDEX (SUBSTRING_INDEX(Tag.name,',',numbers.n),',',-1) name
		from
		(select 1 n union all select 2
		union all select 3 union all select 4
		union all select 5 union all select 6
		union all select 7 union all select 8
		union all select 9 union all select 10) numbers INNER JOIN Tag
		on CHAR_LENGTH ( Tag.name )
		- CHAR_LENGTH ( REPLACE ( Tag.name , ',' , '' ))>= numbers . n-1
		inner join SiteBoard on SiteBoard.Id = Tag.siteBoardId where Tag.siteBoardId=#{param1} -->
	</select>
	
 
 	<select id="getRandom" resultType="com.wiyn.web.entity.SiteBoard">
 		select * from SiteBoard order by rand() limit 1
 	</select>
 	
 	<update id="updateHit">
	UPDATE `lsedb`.`SiteBoard` SET hit=hit+1 WHERE `id`=#{id};
</update>
<update id="updateCommentCount">
	UPDATE `lsedb`.`SiteBoard` SET `countcomment`=(SELECT COUNT(*) FROM SiteComment Where `siteBoardId`=#{id}) WHERE `id`=#{id};
</update>

	<select id="getTagLoad" resultType="com.wiyn.web.entity.SiteBoard">
		select * from SiteBoard inner join Tag on Tag.siteBoardId=SiteBoard.id where Tag.name=#{tag}
	</select>
	
	
	<select id="getNewsc" resultType="com.wiyn.web.entity.SiteBoard">
	SELECT count(*) news FROM SiteBoard WHERE regDate > curdate();
	</select>
	
	<select id="getNewsL" resultType="com.wiyn.web.entity.SiteBoard">
	select count(*) news from
(select N.* FROM SiteBoard N 
		left outer JOIN SiteBoardLike C ON C.siteBoardId= N.id
		GROUP BY N.id, N.regDate
        Having COUNT(C.siteBoardId)>=1) SiteBoard where regDate > curdate()
	</select>
	
	<select id="getNewsH" resultType="com.wiyn.web.entity.SiteBoard">
	SELECT count(*) news  FROM SiteBoard WHERE regDate > curdate() and  hit>=20
	</select>
	
	
</mapper>