<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiyn.web.dao.SmallCategoryDao">

	<select resultType="com.wiyn.web.entity.SmallCategory" id="getList">
	 
		SELECT * FROM SmallCategory
		
	</select>
	
	<select resultType="com.wiyn.web.entity.SmallCategory" id="loadHot">
	 
		SELECT * FROM SmallCategory WHERE hot = 0;
		
	</select>
	
	<select resultType="String" id="getFirstHot">
		SELECT * FROM SmallCategory WHERE hot = 1;
	</select>
	
	<select resultType="String" id="getSecondHot">
		SELECT * FROM SmallCategory WHERE hot = 2;
	</select>
	
	<select resultType="com.wiyn.web.entity.SmallCategory" id="getListWithBC">
	
		SELECT id, name, des FROM SmallCategory WHERE bigCategoryId = #{param1 };
	
	</select>
	
	<select resultType="com.wiyn.web.entity.SmallCategory" id="getsmall">
	
		SELECT id, name, des FROM SmallCategory WHERE bigCategoryId = #{param1 } and id=#{param2};
	
	</select>
	
	<select resultType="Integer" id="addCheck">
		SELECT count(*) FROM SmallCategory WHERE bigCategoryId = #{param1} and name = #{param2};
	</select>
		
	<insert id="add" parameterType="com.wiyn.web.entity.SmallCategory">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			select max(cast(id as unsigned))+1 id from SmallCategory
		</selectKey>

		INSERT INTO
		`lsedb`.`SmallCategory`
		(
		`id`,
		`name`,
		`bigCategoryId`
		)
		VALUES
		(
		#{id},
		#{param1},
		#{param2}
		)

	</insert>
	
	<update id="modify" parameterType="com.wiyn.web.entity.BigCategory">
		UPDATE SmallCategory SET name = #{param3} where id = #{param2} and bigCategoryId = #{param1};
	</update>
	
	<update id="resetHot">
		UPDATE SmallCategory SET hot = 0 WHERE hot = #{param1};
	</update>
	
	<update id="updateHot">
		UPDATE SmallCategory SET hot = #{param1} WHERE id = #{param2};
	</update>
	
	<delete id="del" parameterType="com.wiyn.web.entity.SmallCategory">
		DELETE FROM SmallCategory WHERE bigCategoryId = #{param1} and id = #{param2};
	
	</delete>
	
	<select resultType="com.wiyn.web.entity.SmallCategory" id="get"> 

		SELECT * FROM lsedb.smallcategory WHERE id = #{param1};

	</select>

</mapper>