<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiyn.web.dao.TagDao">

	<insert id="add" parameterType="com.wiyn.web.entity.Tag">
		<selectKey order="BEFORE" keyProperty="id" resultType="String">
			select IFNULL(max(cast(id as unsigned)), 0)+1 id from Tag
		</selectKey>
		INSERT INTO
		`lsedb`.`Tag`
		(
		`id`,
		`name`,
		`siteBoardId`
		)
		VALUES
		(
		#{id},
		#{name},
		#{siteBoardId}
		)
	</insert>
	
	<delete id="delete">
		DELETE FROM Tag
		WHERE siteBoardId=#{siteBoardId}
	</delete>

</mapper>